---
import Features3 from '~/components/widgets/Features3.astro';
import { getPermalink } from '~/utils/permalinks';
---

<Features3
  id="neuindergemeinde"
  tagline="Herzlich Willkommen"
  title="NEU IN DER GEMEINDE?"
  image={{
    src: 'https://images.unsplash.com/photo-1580191947416-62d35a55e71d?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'Neu in der Gemeinde4',
  }}
  columns={4}
  isBeforeContent={true}
  items={[
    {
      title: 'Pfarrer to go',
      icon: 'tabler:cross',
      description:
        'Unseren Pfarrer bei einem Coffee to go kennen lernen. Bei einem guten Kaffee \
        und einem netten Spaziergang ins Gespräch kommen. \
        <a class="text-muted underline dark:text-slate-400 font-medium" href="#pfarrer2go">Hier sind sie richtig.</a>',
    },

    {
      title: 'Kirche Kunterbunt',

      icon: 'tabler:building-church',
      description:
        'Kirche Kunterbunt ist eine neue Form, miteinander zu feiern und eine gute Zeit zu verbringen. \
        Für Familien und für alle, die offen sind für eine neue Form des Gottesdienstes und Lust an \
        Gemeinschaft haben. \
        <a class="text-muted underline dark:text-slate-400 font-medium" href="#kirchekunterbunt">Weitere Informationen gibt es hier.</a>',
    },
    {
      title: 'Grätzloase',
      icon: 'tabler:flower',
      description:
        'Am Alsergrund sind wir bekannt für unsere Grätzloase dem neuen Treffpunkt hier in der Rossau. \
        Hier trinken Menschen in der Früh ihren Kaffee, sitzen zusammen um miteinander zu essen oder \
        ruhen sich aus, während Kinder den Gehsteig mit Straßenkreiden verschönern. Als Gemeinde freuen wir \
        uns sehr über den Besuch in eurer (!) \
        <a class="text-muted underline dark:text-slate-400 font-medium" href="#graetzloase">Grätzloase.</a>',
    },
    {
      title: 'Mitarbeiten',

      icon: 'tabler:pig-money',
      description:
        'Du hast unsere Gemeinde schon kennen gelernt? Du fühlst dich wohl in der Messiaskapelle und \
         möchtest etwas geben? Falls du bei uns mitarbeiten möchtests,  \
      <a class="text-muted underline dark:text-slate-400 font-medium" href="/pages/mitarbeiten">bist du hier richtig</a>.\
      Gerne gibt es auch die Möglichkeit, \
      <a class="text-muted underline dark:text-slate-400 font-medium" href="#spenden">uns finanziell zu unterstützen</a>.',
    },
  ]}
>
  <Fragment slot="subtitle">
    Wir freuen uns sehr, dich bei uns begrüßen zu dürfen. Wir sind eine moderne, dynamische und offene Gemeinde –
    zumindestens arbeiten wir daran mit viel Leidenschaft. Die frohe Botschaft von der Liebe Gottes in die Welt zu
    tragen und zu leben, verstehen wir als unseren Auftrag.<br /><br />
     Für „Newcomer“ haben wir spezielle Angebote, um die Messiaskapelle besser und näher kennenzulernen. Neben unseren
    Gottesdiensten gibt es etwa die Möglichkeit, unsere Gemeinde in der Kirche Kunterbunt kennenzulernen, mit unserem
    Pfarrer bei einem Coffee to go zu reden oder unsere Grätzloase zu besuchen.
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features3>
<!--
<Steps
  id="neuindergemeinde"
  title="NEU IN DER GEMEINDE? WILLKOMMEN!"
  items={[
    {
      title: 'Offene Gemeinde',
      description:
        'Wir freuen uns sehr, dich bei uns begrüßen zu dürfen. Wir sind eine moderne, dynamische \
           und offene Gemeinde – zumindestens arbeiten wir daran mit viel Leidenschaft. Die frohe Botschaft \
           von der Liebe Gottes in die Welt zu tragen und zu leben, verstehen wir als unseren Auftrag.',
      icon: 'tabler:package',
    },

    {
      title: 'Angebote',
      description:
        ' Für „Newcomer“ haben wir spezielle Angebote, um die Messiaskapelle besser und näher kennenzulernen. <br/> \
      Neben unseren Gottesdiensten gibt es etwa die Möglichkeit, unsere Gemeinde bei Kirche Kunterbunt und unseren \
     Pfarrer bei einem Coffee to go kennenzulernen.',
      icon: 'tabler:paint',
    },
  ]}
  image={{
    src: 'https://www.evang9.wien/root/wp-content/uploads/2023/03/open-1024x576.png',
    alt: 'Steps image',
  }}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Steps>
-->
