---
import Steps from '~/components/widgets/Steps.astro';
---

<Steps
  id="neuindergemeinde"
  title="NEU IN DER GEMEINDE? WILLKOMMEN!"
  items={[
    {
      title: 'Offene Gemeinde',
      description:
        'Wir freuen uns sehr, dich bei uns begrüßen zu dürfen. Wir sind eine moderne, dynamische \
           und offene Gemeinde – zumindestens arbeiten wir daran mit viel Leidenschaft. Die frohe Botschaft \
           von der Liebe Gottes in die Welt zu tragen und zu leben, verstehen wir als unseren Auftrag.',
      icon: 'tabler:package',
    },
    {
      title: 'Grätzloase',
      description:
        'Am Alsergrund bekannt sind wir für unsere Grätzloase dem neuen Treffpunkt hier in der Rossau. Hier trinken \
      Menschen in der Früh ihren Kaffee, sitzen zusammen um miteinander zu essen oder ruhen sich aus, während Kinder den \
      Gehsteig mit Straßenkreiden verschönern. Als Gemeinde freuen wir uns sehr über den Besuch in eurer (!) Grätzloase.',
      icon: 'tabler:letter-case',
    },
    {
      title: 'Angebote',
      description:
        ' Für „Newcomer“ haben wir spezielle Angebote, um die Messiaskapelle besser und näher kennenzulernen. <br/> \
      Neben unseren Gottesdiensten gibt es etwa die Möglichkeit, unsere Gemeinde bei Kirche Kunterbunt und unseren \
     Pfarrer bei einem Coffee to go kennenzulernen.',
      icon: 'tabler:paint',
    },
  ]}
  image={{
    src: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/f.jpg',
    alt: 'Steps image',
  }}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Steps>
