---
import Content from '~/components/widgets/Content.astro';
import Calendar from '~/components/svelte/calendar/Calendar.svelte';
import { Icon } from 'astro-icon/components';
---

<Content
  id="termine"
  title="Termine"
  image={{
    src: 'https://images.unsplash.com/photo-1560420025-9453f02b4751?q=80&w=1402&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
    alt: 'Kalendar',
  }}
  actions={[]}
>
  <Fragment slot="subtitle">
    Hier ist verlässlichste Information über unsere laufenden Termine. Falls die Gemeindezeitung abweicht, stimmen diese
    Informationen.
  </Fragment>

  <Fragment slot="content">
    <Calendar client:load />
     Der Terminkalender ist auch <a
      class="text-muted underline dark:text-slate-400"
      href="https://calendar.google.com/calendar/embed?src=095lkf9ujgaa4u1qmi4e2vf00k%40group.calendar.google.com&ctz=Europe%2FVienna"
      target="_blank">auf dieser externen Seite <Icon name="tabler:external-link" class="inline" /></a
    > erreichbar.
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>
