---
import Content from '~/components/widgets/Content.astro';
import Calendar from '~/components/svelte/calendar/Calendar.svelte';
import { Icon } from 'astro-icon/components';

export interface Props {
  bg?: boolean;
}

const {
  bg = true
} = Astro.props;

---

<Content
  id="termine"
  title="Termine"
  image={{
    src: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1780742286/Homepage/Gottesdienst/Vibrant_Alarm_Clock_Promotion_Halftone_rpocp9.png',
    alt: 'Kalender',
  }}
  actions={[]}
>
  <Fragment slot="subtitle">
    Hier ist verlässlichste Information über unsere laufenden Termine. Falls die Gemeindezeitung abweicht, stimmen diese
    Informationen.
  </Fragment>

  <Fragment slot="content">
    <Calendar client:load />
     Der Terminkalender ist auch <a
      class="text-muted underline dark:text-slate-400"
      href="https://calendar.google.com/calendar/embed?src=095lkf9ujgaa4u1qmi4e2vf00k%40group.calendar.google.com&ctz=Europe%2FVienna"
      target="_blank">auf dieser externen Seite <Icon name="tabler:external-link" class="inline" /></a
    > erreichbar.
  </Fragment>

  {
    bg && (
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
    )
  }
</Content>
