---
import Layout from '~/layouts/PageLayout.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogTagPosts from '~/components/widgets/BlogTagPosts.astro';
import BlogHighlightedPosts from '~/components/widgets/BlogHighlightedPosts.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import MekaBilder from './mekabilder.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
const metadata = {
  title: 'Angebote',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Steps
    title="NEU IN DER GEMEINDE? WILLKOMMEN!"
    items={[
      {
        title: 'Offene Gemeinde',
        description:
          'Wir freuen uns sehr, dich bei uns begrüßen zu dürfen. Wir sind eine moderne, dynamische \
           und offene Gemeinde – zumindestens arbeiten wir daran mit viel Leidenschaft. Die frohe Botschaft \
           von der Liebe Gottes in die Welt zu tragen und zu leben, verstehen wir als unseren Auftrag.',
        icon: 'tabler:package',
      },
      {
        title: 'Grätzloase',
        description:
          'Am Alsergrund bekannt sind wir für unsere Grätzloase dem neuen Treffpunkt hier in der Rossau. Hier trinken \
      Menschen in der Früh ihren Kaffee, sitzen zusammen um miteinander zu essen oder ruhen sich aus, während Kinder den \
      Gehsteig mit Straßenkreiden verschönern. Als Gemeinde freuen wir uns sehr über den Besuch in eurer (!) Grätzloase.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Angebote',
        description:
          ' Für „Newcomer“ haben wir spezielle Angebote, um die Messiaskapelle besser und näher kennenzulernen. <br/> \
      Neben unseren Gottesdiensten gibt es etwa die Möglichkeit, unsere Gemeinde bei Kirche Kunterbunt und unseren \
     Pfarrer bei einem Coffee to go kennenzulernen.',
        icon: 'tabler:paint',
      },
    ]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/f.jpg',
      alt: 'Steps image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps>

  <Content id="angebot" classes={{ container: 'p-0 md:p-0 lg:p-0' }} />
  <BlogTagPosts
    title="Angebote"
    linkText="Alle Angebote"
    information={`Hier gibt es regelmässig Aktuelles.`}
    tags={['angebot']}
  />

  <!-- Pfarrer2go -->
  <Features
    id="pfarrer2go"
    tagline="Reden"
    title="Pfarrer to go"
    subtitle="Es gibt viele gute Gründe, unser neues Angebot „Pfarrer to go“ in Anspruch zu nehmen. Gerade für Menschen, die neu in unserer Gemeinde sind, ist es eine gute Möglichkeit, unseren Pfarrer und unsere Gemeinde kennenzulernen. Pfarrer Stefan nimmt sich gerne Zeit für einen Spaziergang und ein gutes Gespräch. Wenn gewünscht, fällt dieses Gespräch selbstverständlich auch unter die seelsorgerliche Schweigepflicht. \
     \
    "
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features>
  <Content
    isAfterContent
    items={[
      {
        title: 'Mal mit jemanden reden, der einfach nur zuhört?',
        description: ``,
      },
      {
        title: 'Den Pfarrer persönlich kennenlernen?',
        description: '',
      },
      {
        title: 'Über die Gemeinde und unsere Kirche sprechen?',
        description: '',
      },
      {
        title: 'Gemeinsam über Gott und die Welt philosophieren und theologisieren?',
        description: '',
      },
      {
        title: 'Oder einfach Lust auf einen guten Kaffee und einen schönen Spaziergang in netter Gesellschaft?',
        description: '',
      },
      {
        title: 'Pfarrer to go',
        description:
          'Die Terminvereinbarung erfolgt ganz unkompliziert per Mail (pfarrer@evang9.wien), per Telefon (0699 188 77 791) oder persönlich im Anschluss an den Sonntagsgottesdienst. Um den Kaffee kümmert sich unser Pfarrer höchstpersönlich, der dafür gerne seine langjährige Expertise als Mitarbeiter einer amerikanischen Kaffeehauskette einbringt. 😉 Und selbstverständlich gibt es auch heiße Schokolade und verschiedene Sorten Tee.',
      },
    ]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2022/06/Pfarrertogoneu.png',
      alt: 'KS',
    }}
  >
    <Fragment slot="content"><span class="font-semibold text-3xl md:text-4xl">Pfarrer to go</span></Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!--
  <BlogHighlightedPosts
    title="MEKA Classic"
    linkText="Alle Angebote"
    information={`Hier gibt es regelmässig Aktuelles.`}
    postIds={['mekaclassic.md']}
  />
   -->
</Layout>
