---
import Layout from '~/layouts/PageLayout.astro';
import Steps from '~/components/widgets/Steps.astro';
import BlogTagPosts from '~/components/widgets/BlogTagPosts.astro';
import BlogHighlightedPosts from '~/components/widgets/BlogHighlightedPosts.astro';
import Content from '~/components/widgets/Content.astro';
import Features from '~/components/widgets/Features.astro';
import MekaBilder from './mekabilder.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Gallery from '~/components/widgets/Gallery.astro';

const metadata = {
  title: 'Angebote',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <BlogTagPosts
    title="Angebote"
    linkText="Alle Angebote der Messiaskapelle"
    information={`Für weitere Informationen auf das Bild klicken.`}
    tags={['angebot']}
  />
  <Steps
    id="neuindergemeinde"
    title="NEU IN DER GEMEINDE? WILLKOMMEN!"
    items={[
      {
        title: 'Offene Gemeinde',
        description:
          'Wir freuen uns sehr, dich bei uns begrüßen zu dürfen. Wir sind eine moderne, dynamische \
           und offene Gemeinde – zumindestens arbeiten wir daran mit viel Leidenschaft. Die frohe Botschaft \
           von der Liebe Gottes in die Welt zu tragen und zu leben, verstehen wir als unseren Auftrag.',
        icon: 'tabler:package',
      },
      {
        title: 'Grätzloase',
        description:
          'Am Alsergrund bekannt sind wir für unsere Grätzloase dem neuen Treffpunkt hier in der Rossau. Hier trinken \
      Menschen in der Früh ihren Kaffee, sitzen zusammen um miteinander zu essen oder ruhen sich aus, während Kinder den \
      Gehsteig mit Straßenkreiden verschönern. Als Gemeinde freuen wir uns sehr über den Besuch in eurer (!) Grätzloase.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Angebote',
        description:
          ' Für „Newcomer“ haben wir spezielle Angebote, um die Messiaskapelle besser und näher kennenzulernen. <br/> \
      Neben unseren Gottesdiensten gibt es etwa die Möglichkeit, unsere Gemeinde bei Kirche Kunterbunt und unseren \
     Pfarrer bei einem Coffee to go kennenzulernen.',
        icon: 'tabler:paint',
      },
    ]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/f.jpg',
      alt: 'Steps image',
    }}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps>

  <!-- <Content id="angebot" classes={{ container: 'p-0 md:p-0 lg:p-0' }} /> -->

  <!-- Pfarrer2go -->

  <Content
    id="graetzloase"
    tagline="Reden, Entspannen, Essen ... für alle"
    title="Grätzloase in der Seegasse"
    isReversed
    items={[
      {
        title: 'Grätzloase',
        description: `Weitere Informationen zum Projekt Grätzloase finden Sie auch hier: www.graetzloase.at`,
      },
      {
        title: 'Bezirkszeitung',
        description: 'Einen Bericht über die Eröffnung unserer Grätzloase finden Sie hier in der Bezirkszeitung.',
      },
      {
        title: 'Öffnungszeiten',
        description: 'Sie ist täglich geöffnet von 6 bis 22 Uhr. Die Benutzung erfolgt auf eigene Gefahr.',
      },
    ]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2023/04/Hinweisschild-Gra%CC%88tzloase-724x1024.png',
      alt: 'KS',
    }}
  >
    <Fragment slot="content">
      „Ich finde die Idee der Grätzloase grundsätzlich sehr gut – ein konsumfreier Ort der dazu einlädt, sich
      auszuruhen, miteinander ins Gespräch zu kommen, die Nachbar:innen kennenzulernen. Als Pfarrgemeinde vor Ort wollen
      wir zu einem guten Miteinander im Grätzl beitragen. Dazu braucht es Räume, die öffentlich & einfach zugänglich
      sind. Auch das Thema Hitze wird eine immer größere Herausforderung. Mit der Grätzloase machen wir aus einen
      Hot-Spot Betonparkplatz mit Auto einen Cool Space durch Holz & Begrünung“, erklärt unser Pfarrer Stefan in einem
      Interview mit der Instagram-Seite der Initiative Grätzloase.
    </Fragment>
    <Fragment slot="subtitle">
      Herzlich willkommen in unserer „Seeoase“. Anfang April haben wir die von uns initiierte Grätzloase vor unserem
      Kircheneingang in der Seegasse 16a (1090 Wien) errichtet, gefördert von der Lokal Agenda 21 und der Stadt Wien.
      Unsere Seeoase ist für alle da: zum Kaffeetrinken, zum Ausruhen, zum Plaudern mit Nachbar:innen und vieles mehr.
      Sie ist täglich geöffnet von 6 bis 22 Uhr. Die Benutzung erfolgt auf eigene Gefahr.
    </Fragment>
  </Content>
  <Gallery
    title=""
    tagline=""
    columns={4}
    items={[
      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Kircheneingang.png',
        description: 'Herzlich willkommen!',
      },
      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2023/05/gra%CC%88tzloase-1-1024x768.jpg',
        description: 'Blumen',
      },
      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2023/05/IMG_1562-1024x768.jpg',
        description: 'Reden',
      },
      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2023/04/Hinweisschild-Gra%CC%88tzloase-724x1024.png',
        description: 'Plakat',
      },
    ]}
  />
  <!--
  <BlogHighlightedPosts
    title="MEKA Classic"
    linkText="Alle Angebote"
    information={`Hier gibt es regelmässig Aktuelles.`}
    postIds={['mekaclassic.md']}
  />
   -->
</Layout>
