---
import Layout from '~/layouts/PageLayout.astro';

import Content from '~/components/widgets/Content.astro';
import PredigtPage from '~/parts/gottesdienste/predigtpage.astro';
import Termine from '~/parts/gottesdienste/termine.astro';

const metadata = {
  title: 'Termine',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Content
    title="Sonntags um 10"
    tagline="Gottesdienst"
    actions={[]}
    image={{
      src: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1714829409/Homepage/Gottesdienst/img_8_1665922896567_wd1xzc.jpg',
      alt: 'Godi',
    }}
    items={[
      {
        title: 'Abendmahl',
        description: `Am 1. und 3. Sonntag feiern wir miteinander Abendmahl.`,
      },
      {
        title: 'Musik',
        description: `Unsere Band spielt jeden Sonntag moderne Musik.`,
      },
      {
        title: 'Kaffee, Tee und Kuchen',
        description:
          'Im Anschluss gibt es bei Kaffee, Tee und Kuchen die Möglichkeit, miteinander ins Gespräch zu kommen.',
      },
    ]}
  >
    <Fragment slot="content">
      Herzlich willkommen zu unseren Gottesdiensten. Wir feiern <h2
        class="mb-2 text-lg font-semibold text-gray-900 dark:text-white"
      >
        jeden Sonntag um 10 Uhr
      </h2> mit guter Musik, inspirierenden Predigten und in netter Gesellschaft.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Content
    id="oase"
    isReversed
    title="Sonntag um 19 Uhr"
    tagline="OASE-Gottesdienst"
    actions={[]}
    image={{
      src: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1714829460/Homepage/Gottesdienst/221104_OASE_Plakat-e1692778894979-845x1024_svuj3p.png',
      alt: 'Godi',
    }}
  >
    <Fragment slot="content">
      <div class="text-left">
        Einmal im Monat im Winterhalbjahr laden wir zum OASE Gottestdienst ein. Gott begegnen in meditativer Atmosphäre,
        in Bibellesung und kurzem Impuls sowie mit Ruhe und Zeit für das persönliche Gebet. <br />
        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Jeweils Sonntags um 19 Uhr am:</h2>
        <!--
        <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
          <li>3. März 2024</li>
        </ul>
        -->
      </div>
    </Fragment>
  </Content>
  <Termine />
  <PredigtPage />
</Layout>
