---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import PredigtPage from './predigtpage.astro';
const metadata = {
  title: 'Termine',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Content
    title="Sonntags um 10"
    tagline="Gottesdienst"
    actions={[]}
    image={{ src: 'https://www.evang9.wien/root/wp-content/uploads/2022/11/img_8_1665922896567.jpg', alt: 'Godi' }}
    items={[
      {
        title: 'Abendmahl',
        description: `Am 1. und 3. Sonntag feiern wir miteinander Abendmahl.`,
      },
      {
        title: 'Musik',
        description: `Unsere Band spielt jeden Sonntag monderne Musik.`,
      },
      {
        title: 'MEKA Bar',
        description:
          'Im Anschluss gibt es bei Kaffee, Tee und Kuchen die Möglichkeit, miteinander ins Gespräch zu kommen.',
      },
    ]}
  >
    <Fragment slot="content">
      Herzlich willkommen zu unseren Gottesdiensten. Wir feiern <h2
        class="mb-2 text-lg font-semibold text-gray-900 dark:text-white"
      >
        jeden Sonntag um 10 Uhr
      </h2> mit guter Musik, inspirierenden Predigten und in netter Gesellschaft.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Content
    id="oase"
    isReversed
    title="Sonntag um 19 Uhr"
    tagline="OASE-Gottesdienst"
    actions={[]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2022/11/221104_OASE_Plakat-e1692778894979-845x1024.png',
      alt: 'Godi',
    }}
  >
    <Fragment slot="content">
      <div class="text-left">
        Einmal im Monat im Winterhalbjahr laden wir zum OASE Gottestdienst ein. Gott begegnen in meditativer Atmosphäre,
        in Bibellesung und kurzem Impuls sowie mit Ruhe und Zeit für das persönliche Gebet. <br />
        <h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Jeweils Sonntags um 19 Uhr am:</h2>
        <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
          <li>3. Dezember 2023</li>
          <li>7. Jänner 2024</li>
          <li>4. Februar 2024</li>
          <li>3. März 2023</li>
        </ul>
      </div>
    </Fragment>
  </Content>
  <PredigtPage />
  <Hero id="termine" title="Termine" actions={[]}>
    <Fragment slot="subtitle">
      Hier ist verlässlichste Information über unsere laufenden Termine. Falls die Gemeindezeitung abweicht, stimmen
      diese Informationen.
    </Fragment>

    <Fragment slot="image">
      <div class="relative h-0 pb-[80%] md:pb-[100%]">
        <iframe
          width="560"
          height="630"
          src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23bcd0ed&ctz=Europe%2FVienna&src=MDk1bGtmOXVqZ2FhNHUxcW1pNGUydmYwMGtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%23336699&mode=AGENDA&showTitle=0&showCalendars=0&showTz=0"
          class="absolute top-0 left-0 w-full h-full"></iframe>
        <!-- 
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/dsTXcSeAZq8"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      -->
      </div>
    </Fragment>
  </Hero>
</Layout>
