---
import Layout from '~/layouts/PageLayout.astro';
import Part from '~/components/widgets/Part.astro';
import Herausgeber from '~/components/parts/herausgeber.md';
import Urheberrecht from '~/components/parts/urheberrecht.md';
import Datenschutz from '~/components/parts/datenschutz.md';
import Cookies from '~/components/parts/cookies.md';
import Verlinkung from '~/components/parts/verlinkung.md';

import type { MetaData } from '~/types';

const metadata: MetaData = {
  title: 'Impressum',
};
---

<Layout metadata={metadata}>
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <h1 class="font-bold font-heading text-4xl md:text-5xl leading-tighter tracking-tighter">{metadata.title}</h1>
    <div
      class="mx-auto prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      <Part><em>letzte Änderung</em>: Februar 2024<br /></Part>
      <Part title="Herausgeber">
        <Herausgeber />
      </Part>
      <Part title="Urheberrecht">
        <Urheberrecht />
      </Part>
      <Part title="Datenschutz">
        <Datenschutz />
      </Part>
      <Part title="Cookies">
        <Cookies />
      </Part>
      <Part title="Verlinkung">
        <Verlinkung />
      </Part>
    </div>
  </section>
</Layout>
