---
import Layout from '~/layouts/PageLayout.astro';
import PartH3 from '~/components/widgets/PartH3.astro';

import Herausgeber from '~/parts/impressum/herausgeber.md';
import Urheberrecht from '~/parts/impressum/urheberrecht.md';
import Datenschutz from '~/parts/impressum/datenschutz.md';
import Cookies from '~/parts/impressum/cookies.md';
import Verlinkung from '~/parts/impressum/verlinkung.md';

import type { MetaData } from '~/types';

const metadata: MetaData = {
  title: 'Impressum',
};
---

<Layout metadata={metadata}>
  <section class="px-4 py-16 sm:px-6 mx-auto lg:px-8 lg:py-20 max-w-4xl">
    <h1 class="font-bold font-heading text-4xl md:text-5xl leading-tighter tracking-tighter">{metadata.title}</h1>
    <div
      class="mx-auto prose prose-lg max-w-4xl dark:prose-invert dark:prose-headings:text-slate-300 prose-md prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-blue-600 dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8"
    >
      <PartH3><em>letzte Änderung</em>: Februar 2024<br /></PartH3>
      <PartH3 title="Herausgeber">
        <Herausgeber />
      </PartH3>
      <PartH3 title="Urheberrecht">
        <Urheberrecht />
      </PartH3>
      <PartH3 title="Datenschutz">
        <Datenschutz />
      </PartH3>
      <PartH3 title="Cookies">
        <Cookies />
      </PartH3>
      <PartH3 title="Verlinkung">
        <Verlinkung />
      </PartH3>
    </div>
  </section>
</Layout>
