---
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';

import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';

import Content from '~/components/widgets/Content.astro';
import BlogTagPosts from '~/components/widgets/BlogTagPosts.astro';
import MekaBilder from '~/pages/mekabilder.astro';
import Gallery from '~/components/widgets/Gallery.astro';

const metadata = {
  title: 'Willkommen in der Evangelischen Pfarrgemeinde am Alsergrund',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Neu hier?',
        href: getPermalink('/angebote/angebote#neuindergemeinde'),
        icon: 'tabler:user-plus',
      },
      {
        text: 'Gottesdienste  Termine',
        href: getPermalink('/gottesdienste'),
        icon: 'tabler:cross',
      },
      {
        text: 'Taufe & Co',
        href: getPermalink('/kirche/kasualien'),
        icon: 'tabler:building-church',
      },
    ]}
    image={{ src: '~/assets/images/cropped-eingang-3.png', alt: 'Eingang Image' }}
    tagline="Messiaskapelle"
  >
    <Fragment slot="title">
      Willkommen in der
      <span class="text-accent dark:text-white highlight">Evangelischen</span> Pfarrgemeinde am Alsergrund
    </Fragment>

    <Fragment slot="subtitle">
      Wir sind eine moderne, dynamische und offene Gemeinde. Die frohe Botschaft von der Liebe Gottes in die Welt zu
      tragen und zu leben, verstehen wir als unseren Auftrag.
    </Fragment>
  </Hero>

  <!-- Neuigkeiten -->

  <BlogTagPosts
    title="Neuigkeiten aus der Seegasse"
    linkText="Alle Neuigkeiten"
    linkUrl={getPermalink('/tag/news')}
    information={`Für weitere Informationen jeweils auf das Bild klicken`}
    tags={['news']}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogTagPosts>

  <!-- Impulse -->
  <BlogTagPosts
    title="Impulse"
    linkText="Alle Impulse"
    linkUrl={getPermalink('/tag/impuls')}
    information={`Für den gesamten Impuls jeweils auf das Bild klicken.`}
    tags={['impuls']}
  />

  <!-- Leitbild -->
  <Features2
    id="leitbild"
    title="Herzlich willkommen in der Messiaskapelle"
    tagline="Grundsätze"
    classes={{ container: 'max-w-3xl' }}
    items={[
      {
        title: 'Gott',
        description: 'Gott liebt uns so, wie wir sind, wir müssen uns diese Liebe nicht verdienen.',
        icon: 'tabler:heart-check',
      },
      {
        title: 'Mensch',
        description: 'Jeder Mensch kann sich direkt an Gott wenden, es braucht keinen Mittler.',
        icon: 'tabler:heart-handshake',
      },
      {
        title: 'Frei',
        description: 'Als freie Menschen sind wir nur Gott und unserem Gewissen verpflichtet.',
        icon: 'tabler:apple',
      },
      {
        title: 'Demokratisch',
        description: 'Evangelische Kirchen sind demokratisch organisiert.',
        icon: 'tabler:speakerphone',
      },
      {
        title: 'Gleichheit',
        description: 'Alle Ämter stehen Frauen und Männern gleichermaßen offen.',
        icon: 'tabler:thumb-up',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
    <Fragment slot="subtitle">
      <span class="font-semibold">
        Um die Messiaskapelle kennen zu lernen, laden wir sie herzlich ein, hinter die Fassade zu schauen. Hinter der
        Fassade sind es besonders die Menschen, die die Messiaskapelle ausmachen. Wir freuen uns auf Sie!
      </span>
      <br /><br />
       Wir sind eine moderne, dynamische und offene Gemeinde - daran arbeiten wir mit viel Leidenschaft. Die frohe
      Botschaft von der Liebe Gottes in die Welt zu tragen und zu leben, verstehen wir als unseren Auftrag. Unsere
      Gemeinde ist Teil der Evangelischen Kirche A.B. (=lutherisch) in Österreich.
      <br /><br />
      <span class="font-semibold"> Kommen Sie und erleben Sie die Messiaskapelle!</span>
    </Fragment>
  </Features2>

  <!--
  <Hero2
    id="leitbild"
    actions={[]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2023/02/wiru%CC%88berunsplakat-1448x2048.png',
      alt: 'Leitbild',
    }}
  >
    <Fragment slot="title">Leitbild</Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">
        Um die Messiaskapelle kennen zu lernen, wird man hinter diese Fassade schauen müssen. Und auch hinter der
        Fassade sind es besonders die Menschen, die die Messiaskapelle ausmachen. Wir freuen uns auf Sie!
      </span>
      <br /><br />
       Wir sind eine junge, dynamische Gemeinde – im Zentrum unseres Glaubens sind wir Gott und seinem Wort in der
      heiligen Schrift eng verbunden. Unsere äußeren Formen sind modern und zeitgemäß; im Mittelpunkt steht für uns
      Christus, der lebendige Sohn Gottes.

      <br />

       Wir wollen mit unserer Gemeindearbeit dazu beitragen, dass immer mehr Menschen zu souveränen und mündigen Christ_innen,
      Bibelleser_innen werden. Dabei ist uns eine besonders große Vielfalt, sei es im Angebot, sei es in den Menschen, die
      zu uns gehören und sei es in den Glaubensformen, die hier gelebt werden, wichtig.
      <br />
       Keine Vielfalt gibt es darin, wer Herr unserer Kirche ist: wir vertrauen auf das überraschende Eingreifen Gottes.


      <br /><br />
      <span class="font-semibold"> Kommen Sie und erleben Sie die Messiaskapelle!</span>
    </Fragment>
  </Hero2>
-->
  <!-- Pfarrer -->

  <Hero2
    id="pfarrer"
    actions={[]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2021/11/IMG_8487-2-1365x2048.jpg',
      alt: 'Unser Pfarrer',
    }}
  >
    <Fragment slot="title">Unser Pfarrer</Fragment>

    <Fragment slot="subtitle">
      Stefan Fleischner-Janits ist seit 1. September 2021 Pfarrer der Messiaskapelle. Seine Aufgaben in unserer Gemeinde
      sind vielfältig. Er feiert mit uns Gottesdienste, tauft und beerdigt, hält Kontakt zu den Mitgliedern und
      Mitarbeiter:innen, steht für seelsorgerliche Gespräche zur Verfügung, bringt den Konfirmand:innen unseren Glauben
      näher und denkt mit Kindern über Gott und die Welt nach. Darüber hinaus unterrichtet er Evangelische Religion am
      BG9 in der Wasagasse.<br />

       Pfarrer Stefan Fleischner-Janits steht gerne für persönliche und vertrauliche Gespräche zur Verfügung.
      <br />
      <span class="font-semibold">
        Vereinbaren Sie gerne einen Gesprächstermin per Mail: stefan.fleischner-janits@evang.at oder per Telefon: 0699/
        188 77 791.
      </span>
    </Fragment>
  </Hero2>

  <!-- Presbyterium ******************* -->
  <Gallery
    id="presbyterium"
    title="Das Presbyterium"
    tagline="Leitungsgremium"
    subtitle="Das Presbyterium besteht aus dem Pfarrer der Gemeinde und den von der Gemeindevertretung gewählten Vertreter*innen. Als Leitungsteam der Pfarrgemeinde treffen wir nicht nur wichtige Entscheidungen in Bezug auf das Leben der Messiaskapelle, als Gremium arbeiten wir vor allem zum Wohl der Gemeinde zusammen. Und dabei Vertrauen wir auf Gottes Segen und seine treue Begleitung. <br\><br\>Unsere Presbyter*innen besuchen regelmäßig den Gottesdienst und freuen sich, direkt angesprochen zu werden."
    columns={3}
    classes={{ subtitleClass: 'text-left', container: 'max-w-3xl' }}
    items={[
      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Presbies-Vorlage-Web4.png',
        description: '',
      },
      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Presbies-Vorlage-Web2.png',
        description: '',
      },
      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2021/06/regina.png',
        description: '',
      },

      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2021/06/PB_Hermann.png',
        description: '',
      },
      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Presbies-Vorlage-Web5.png',
        description: '',
      },

      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Presbies-Vorlage-Web.png',
        description: '',
      },

      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2021/09/IMG_8481-2-1365x2048.jpg',
        description: 'Stefan Fleischner-Janits – Pfarrer',
      },
      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2023/12/maria.jpg',
        description: 'Maria Paul',
      },
      {
        image: 'https://www.evang9.wien/root/wp-content/uploads/2023/12/Adele.jpeg',
        description: 'Adele De La Puente',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Gallery>

  <Features
    id="lektoren"
    tagline="Lesepredigten"
    title="Unsere Lektoren und Lektorinnen"
    subtitle="Wir versuchen Abwechslung und unterschiedliche Themenschwerpunkte in die Gottesdienste zu bringen. \
    Jeder bringt seine persönlichen Erfahrungen mit Gott mit und beschäftigt sich privat und beruflich mit \
    unterschiedlichen Dingen. So ist jede Predigt auf besondere Art geprägt."
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Content Widget **************** -->
  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    classes={{ container: 'max-w-3xl' }}
    items={[
      {
        title: 'Beruf',
        description: `Meine Arbeit dreht sich um Nachhaltigkeit, Lebensmittel, Konsum, E-Mobilität und vieles mehr`,
      },
      {
        title: 'In der Messiaskapelle seit',
        description: '1993',
      },
      {
        title: 'Lektorin seit',
        description: '2003',
      },
      {
        title: 'Schwerpunkte',
        description: 'Yes you can – mit Gottes Hilfe!',
      },
      {
        title: 'Ein wichtiges Zitat',
        description:
          'Jesus Christus spricht: „Ich bin das Licht der Welt. Wer mir nachfolgt, wird nicht mehr in der Finsternis umherirren, sondern wird das Licht des Lebens haben.” (Joh 8,12)',
      },
    ]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2019/10/TDH_web.png',
      alt: 'Tanja',
    }}
  >
    <Fragment slot="content"><span class="font-semibold">Lektorin Tanja Dietrich-Hübner</span></Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    classes={{ container: 'max-w-3xl' }}
    items={[
      {
        title: 'Beruf',
        description: `Pfarrer im Ruhestand`,
      },
      {
        title: 'In der Messiaskapelle seit',
        description: '1992',
      },

      {
        title: 'Schwerpunkte',
        description: 'zeitgemäße Rede über das Wort Gottes',
      },
      {
        title: 'Ein wichtiges Zitat',
        description: 'Gottes Geist führt immer in die Weite, nie in die Enge',
      },
    ]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2019/08/Harald-Geschl.png',
      alt: 'Harald',
    }}
  >
    <Fragment slot="content"><span class="font-semibold">Harald Geschl, Pfarrer i.R.</span></Fragment>
  </Content>

  <Content
    isAfterContent
    classes={{ container: 'max-w-3xl' }}
    items={[
      {
        title: 'Beruf',
        description: `Unternehmer`,
      },
      {
        title: 'In der Messiaskapelle seit',
        description: '2014',
      },
      {
        title: 'Lektor seit',
        description: '2009',
      },
      {
        title: 'Schwerpunkte',
        description: 'Christliches Leben im Hier und Jetzt',
      },
      {
        title: 'Ein wichtiges Zitat',
        description: 'Du stellst meine Füße auf weiten Raum (Psalm 31;9)',
      },
    ]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2019/08/Mark-Ruiz-Hellin.png',
      alt: 'Mark',
    }}
  >
    <Fragment slot="content"><span class="font-semibold">Lektor Mark Ruiz Hellín</span></Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    classes={{ container: 'max-w-3xl' }}
    items={[
      {
        title: 'Beruf',
        description: `Arzt`,
      },
      {
        title: 'In der Messiaskapelle seit',
        description: '2004',
      },
      {
        title: 'Lektor seit',
        description: '2011',
      },
      {
        title: 'Schwerpunkte',
        description: 'Glaube, Liebe, Hoffnung, Seelsorge',
      },
      {
        title: 'Ein wichtiges Zitat',
        description: '366mal "Fürchtet euch nicht!"',
      },
    ]}
    image={{
      src: 'https://www.evang9.wien/root/wp-content/uploads/2019/08/Wolfgang-Waldschu%CC%88tz.png',
      alt: 'Wolfgang',
    }}
  >
    <Fragment slot="content"><span class="font-semibold">Lektor Wolfgang Waldschütz.</span></Fragment>
  </Content>

  <MekaBilder />
</Layout>
