---
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';

import Hero from '~/components/widgets/Hero.astro';

import BlogTagPosts from '~/components/widgets/BlogTagPosts.astro';
import MekaBilder from '~/parts/startseite/mekabilder.astro';

import Leitbild from '~/parts/startseite/leitbild.astro';
import Pfarrer from '~/parts/startseite/pfarrer.astro';
import Presbyterium from '~/parts/startseite/presbyterium.astro';
import Lektorat from '~/parts/startseite/lektorat.astro';

const metadata = {
  title: 'Willkommen in der Evangelischen Pfarrgemeinde am Alsergrund',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Neu hier?',
        href: getPermalink('/angebote#neuindergemeinde'),
        icon: 'tabler:user-plus',
      },
      {
        text: 'Gottesdienste  Termine',
        href: getPermalink('/gottesdienste'),
        icon: 'tabler:cross',
      },
      {
        text: 'Taufe & Co',
        href: getPermalink('/kirche'),
        icon: 'tabler:building-church',
      },
    ]}
    image={{ src: '~/assets/images/cropped-eingang-5.png', alt: 'Eingang Image' }}
    tagline="Messiaskapelle"
  >
    <Fragment slot="title">
      Willkommen in der
      <span class="text-accent dark:text-white highlight">Evangelischen</span> Pfarrgemeinde am Alsergrund
    </Fragment>

    <Fragment slot="subtitle">
      Wir sind eine moderne, dynamische und offene christliche Gemeinde im 9. Bezirk in Wien.
    </Fragment>
  </Hero>

  <!-- Neuigkeiten -->

  <BlogTagPosts
    title="Neuigkeiten aus der Seegasse"
    linkText="Alle Neuigkeiten"
    linkUrl={getPermalink('/tag/news')}
    information={`Für weitere Informationen jeweils auf das Bild klicken`}
    tags={['news']}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogTagPosts>

  <!-- Impulse -->
  <BlogTagPosts
    title="Impulse"
    linkText="Alle Impulse"
    linkUrl={getPermalink('/tag/impuls')}
    information={`Für den gesamten Impuls jeweils auf das Bild klicken.`}
    tags={['impuls']}
  />

  <Leitbild />
  <Pfarrer />
  <Presbyterium />

  <Lektorat />
  <MekaBilder />
</Layout>
