---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Features3 from '~/components/widgets/Features3.astro';

const metadata = {
  title: 'Mitarbeiten',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Features3
    id="mitarbeiten"
    tagline="Mitarbeiten"
    title="Helfende Hand"
    subtitle="Bei uns gibt es sehr viele Möglichkeiten mitzuarbeiten! Und wir freuen uns wirklich über \
    jede und jeden, die/der hilft, unser Gemeindeleben schöner zu gestalten. <br/> Und jede helfende Hand entlastet die, die schon mithelfen. \
    Möchten Sie mithelfen? Am besten sprechen Sie einfach jemanden vor oder nach dem Gottesdienst an oder Sie melden \
    sich bei den für den jeweiligen Bereich Zuständigen."
    image={{
      src: 'https://images.unsplash.com/photo-1527525443983-6e60c75fff46?q=80&w=1370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D',
      alt: 'Mitarbeiten',
    }}
  />
  <Content
    isAfterContent
    items={[
      {
        title: 'Gäste begrüßen',
        description: ``,
      },
      {
        title: 'Kuchen backen',
        description: '',
      },
      {
        title: 'Kaffee verteilen',
        description: '',
      },
      {
        title: 'Vorlesen',
        description: '',
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1714832634/Homepage/Mitarbeiten/junge-mitarbeiterin-300x300_aojuxi.png',
      alt: 'KS',
    }}
  >
    <Fragment slot="content"><span class="font-semibold text-3xl md:text-4xl">Kirchenservice</span></Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Kinder begleiten',
        description: ``,
      },
      {
        title: 'Vorlesen',
        description: '',
      },
      {
        title: 'Getränke verteilen',
        description: '',
      },
      {
        title: 'Mitbastelnn',
        description: '',
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1714832640/Homepage/Mitarbeiten/Mitarbeiterin-bemalt-wand-300x300_c7rkj4.png',
      alt: 'KS',
    }}
  >
    <Fragment slot="content"><h2 class="font-semibold text-3xl md:text-4xl">Kinder-Kirche</h2></Fragment>
  </Content>
  <Content
    isAfterContent
    items={[
      {
        title: 'Piano',
        description: ``,
      },
      {
        title: 'Guitarre',
        description: '',
      },
      {
        title: 'Voice',
        description: '',
      },
      {
        title: 'Drums',
        description: '',
      },
      {
        title: 'Bass',
        description: '',
      },
    ]}
    image={{
      src: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1714832703/Homepage/Mitarbeiten/geigerin-spielt-musik-300x300_s0f40l.png',
      alt: 'KS',
    }}
  >
    <Fragment slot="content">
      <h2 class="font-semibold text-3xl md:text-4xl">Musik – mitspielen in der Combo</h2><br /><br />
       Alle , die ein Musikinstrument spielen können oder eine schöne Gesangsstimme haben, sind herzlich willkommen.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
