---
import Layout from '~/layouts/PageLayout.astro';
import Predigten from '~/components/svelte/predigt/PredigtEdit.svelte';

import Content from '~/components/widgets/Content.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Zum Nachhören',
};
---

<Layout metadata={metadata}>
  <Content id="nachhoeren" columns={3}>
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Zum Nachhören</h3>

      <div class="flex flex-row">
        <div class="basis-3/4">
          Als besonderes Service können Sie die Predigt gerne zuhause nachhören. Sie finden sie innerhalb der Folgewoche
          hier.
        </div>
        <div class="basis-1/4">
          <Image
            src="https://www.evang9.wien/root/wp-content/uploads/2022/01/headphones-1868612_1920-e1640684622293-small.jpg"
            class="mb-6 sm:rounded-md bg-gray-400 dark:bg-slate-700"
            widths={[100, 200]}
            sizes="(max-width: 200px) 100px, 200px"
            alt="nachhoeren"
            width={200}
            height={100}
            loading="eager"
            decoding="async"
          />
        </div>
      </div>
      <Predigten client:load />
      <br />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
