---
import Image from '~/components/common/Image.astro';
//import logoImg from '~/assets/images/cropped-Logo-für-Menue-4.png';
import logoImg from '~/assets/images/Kreuz-bunt.svg';
---

<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <Image class="rounded-full dark:bg-black" src={logoImg} alt="Logo" width="100px" height="100px" />
</span>
<span class="text-base text-secondary dark:text-blue-200 font-bold tracking-wide uppercase">Messiaskapelle</span>
