---
import { getPermalink } from '~/utils/permalinks';
import Button from '~/components/ui/Button.astro';
import { twMerge } from 'tailwind-merge';
import { commonText } from '~/commontext';

const { page, maxButtons } = Astro.props;

const pageCount = page.lastPage ? page.lastPage + 1 : 0;
const currentPage = page.currentPage;
const buttonCount = maxButtons ?? 3;
let firstButtonPage = currentPage - Math.floor((buttonCount / 2));

if (firstButtonPage < 1)
{
    firstButtonPage = 1;
}

let lastButtonPage = firstButtonPage + buttonCount - 1;

if (lastButtonPage >= pageCount)
{
    lastButtonPage = pageCount - 1;
    firstButtonPage = pageCount - buttonCount;
    if (firstButtonPage < 1)
    {
        firstButtonPage = 1;
    }
}

let pageNumbers = Array();
for (let pageNumber = firstButtonPage; pageNumber <= lastButtonPage; pageNumber++)
{
    pageNumbers.push(Math.round(pageNumber));
}

const rx = /(.*)\/[0-9]+/;
let basePath = page.url.current;

let matches = rx.exec(basePath);
if (matches !== null)
{
    basePath = matches[1];
}
let path = page.url.current;

function getPageUrl(basePath: String, pageNumber: number)
{
    if (pageNumber == 1)
    {
        return basePath;
    }
    return basePath + '/' + pageNumber.toString();
}

---

<div class="flex flex-nowrap flex-row -space-x-4 max-w-xs sm:max-w-md">
    <Button variant="tertiary"
            href={ currentPage != 1 ? (
                    getPageUrl(getPermalink(basePath), 1)
                    ) : undefined
                }
            icon="tabler:chevrons-left"
            class={twMerge("pl-3 pr-6 sm:mb-0", currentPage == 1 ? "text-muted cursor-default" : "")}
            title={commonText.pagination.firstPage}/>

    <Button variant="tertiary"
            href={ currentPage > 1 ? (
                    getPageUrl(getPermalink(basePath), currentPage - 1)
                    ) : undefined
                }
            icon="tabler:chevron-left"
            class={twMerge("pl-3 pr-6 sm:mb-0", currentPage == 1 ? "text-muted cursor-default" : "")}
            title={commonText.pagination.prevPage}/>
    {
        pageNumbers.map((pageNumber) => 
        (
            <Button variant="tertiary"
                    href={ pageNumber != currentPage ? (
                        getPageUrl(getPermalink(basePath), pageNumber)
                        ) : undefined
                    }
                    text={pageNumber.toString()}
                    class={twMerge("pl-5 pr-5 sm:mb-0", currentPage == pageNumber ? "text-muted cursor-default" : "")}
                    title={pageNumber != currentPage ? commonText.pagination.toPage + pageNumber.toString() : commonText.pagination.currentPage}/>
        ))
    }
    <Button variant="tertiary"
            href={ currentPage > 1 ? (
                    getPageUrl(getPermalink(basePath), currentPage + 1)
                    ) : undefined
                }
            icon="tabler:chevron-right"
            class={twMerge("pl-3 pr-5 sm:mb-0", currentPage == page.lastPage ? "text-muted cursor-default" : "")}
            title={commonText.pagination.nextPage}/>

    <Button variant="tertiary"
        href={ currentPage != page.lastPage ? (
                getPageUrl(getPermalink(basePath), page.lastPage)
                ) : undefined
            }
        icon="tabler:chevrons-right"
        class={twMerge("pl-3 pr-5 sm:mb-0", currentPage == page.lastPage ? "text-muted cursor-default" : "")}
        title={commonText.pagination.toPage + (pageCount-1).toString()}/>
</div>
