---
import Content from '~/components/widgets/Content.astro';
---

<Content
  id="jugendreferentin"
  tagline="Kinder und Jugend"
  actions={[]}
  isFade
  classes={{ subtitleClass: 'text-left', container: 'max-w-4xl' }}
  image={{
    src: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1779042355/Homepage/Website_Milena_900_880_i8cbb6.jpg',
    alt: 'Unsere Kinder und- Jugendreferentin',
  }}
>
  <Fragment slot="title">Unsere Kinder- und Jugendreferentin</Fragment>
  <Fragment slot="subtitle">
    Milena Zorn ist seit Dezember 2025 unsere Kinder- und Jugendreferentin.
  </Fragment>
  <Fragment slot="content">
    Jeden 1. Und 2. Sonntag im Monat feiert Milena mit den Kindern Kindergottesdienste, ausgenommen in den Schulferien.
    Darüberhinaus begleitet sie die Konfirmand:innen durch die Konfirmationszeit.
    Durch die Erfahrung in der Arbeit mit Kindern- und Jugendlichen aus ihrer ehrenamtlichen Arbeit bei ihrer Kirchengemeinde
    in Norddeutschland, bringt die junge Theologiestudentin frischen Wind und neue Ideen in die Messiaskapelle.
    <br />
    <br />
    Schaut gerne mal beim Kindergottesdienst vorbei oder meldet euch gerne per Mail: <a href="mailto:nextgen@evang9.wien" class="text-muted underline font-medium">nextgen@evang9.wien</a>
    <br />
    <br />
    "Ich freue mich schon sehr, die Kinder und Jugendlichen der Gemeinde kennenzulernen und ihnen Gott und den Glauben näher zu bringen."
  </Fragment>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>


