---
import Features2 from '~/components/widgets/Features2.astro';
---

<!-- Leitbild -->
<Features2
  id="leitbild"
  title="Herzlich willkommen in der Messiaskapelle"
  tagline="Grundsätze"
  classes={{ container: 'max-w-3xl' }}
  items={[
    {
      title: 'Gott',
      description: 'Gott liebt uns so, wie wir sind, wir müssen uns diese Liebe nicht verdienen.',
      icon: 'tabler:heart-check',
    },
    {
      title: 'Mensch',
      description: 'Jeder Mensch kann sich direkt an Gott wenden, es braucht keinen Mittler.',
      icon: 'tabler:heart-handshake',
    },
    {
      title: 'Frei',
      description: 'Als freie Menschen sind wir nur Gott und unserem Gewissen verpflichtet.',
      icon: 'tabler:apple',
    },
    {
      title: 'Demokratisch',
      description: 'Evangelische Kirchen sind demokratisch organisiert.',
      icon: 'tabler:speakerphone',
    },
    {
      title: 'Gleichheit',
      description: 'Alle Ämter stehen Frauen und Männern gleichermaßen offen.',
      icon: 'tabler:thumb-up',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
  <Fragment slot="subtitle">
    <span class="font-semibold">
      Um die Messiaskapelle kennen zu lernen, laden wir sie herzlich ein, hinter die Fassade zu schauen. Hinter der
      Fassade sind es besonders die Menschen, die die Messiaskapelle ausmachen. Wir freuen uns auf Sie!
    </span>
    <br /><br />
     Wir sind eine moderne, dynamische und offene Gemeinde - daran arbeiten wir mit viel Leidenschaft. Die frohe
    Botschaft von der Liebe Gottes in die Welt zu tragen und zu leben, verstehen wir als unseren Auftrag. Unsere
    Gemeinde ist Teil der Evangelischen Kirche A.B. (=lutherisch) in Österreich.
    <br /><br />
    <span class="font-semibold"> Kommen Sie und erleben Sie die Messiaskapelle!</span>
  </Fragment>
</Features2>
