---
import Gallery from '~/components/widgets/Gallery.astro';
---

<Gallery
  title="Bilder aus der Messiaskapelle"
  tagline="Impressionen"
  columns={4}
  items={[
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381308/Homepage/Kircheneingang_ve2ol7.png',
      description: 'Herzlich willkommen!',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381306/Homepage/Ja-Altar_oghsnx.png',
      description: 'Manchmal steht bei uns das JA! zum Glauben an Gott wortwörtlich in der Mitte.',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381307/Homepage/Mitarbeiterin-malt_medx92.png',
      description: 'Um die Kinderkirche schön zu gestalten helfen alle mit.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/kinderkirche-kirche-mit-kindern.png',
      description: 'Kinderkirche – Kirche MIT Kindern.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/s-1024x682.jpg',
      description: 'Unsere Adventgottesdienste haben eine besondere Stimmung.',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381315/Homepage/f_ws9j5b.jpg',
      description: 'Auch im Inneren heißen wir Sie nochmal willkommen!',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/m.jpg',
      description: 'Die Bibel – das Wort Gottes im Zentrum des Gottesdienst.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/h.jpg',
      description: 'Gemeinsam Gottesdienste feiern.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/n-1024x682.jpg',
      description: 'Musikalische Untermalung mit Gitarre, Schlagzeug, Klavier, Geige, …',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/u-1024x682.jpg',
      description: 'Ein Mitarbeiter_innen-Gottesdienst',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/l-1024x682.jpg',
      description: 'Nach dem Gottesdienst gibt es Kaffee und Kuchen.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/91-1024x615.jpg',
      description: 'Unsere Konfirmand_innen werden bei der Arbeit nicht gestört.',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Gallery>
