---
import Gallery from '~/components/widgets/Gallery.astro';
---

<Gallery
  title="Bilder aus der Messiaskapelle"
  tagline="Impressionen"
  columns={4}
  items={[
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Kircheneingang.png',
      description: 'Herzlich willkommen!',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Ja-Altar.png',
      description: 'Manchmal steht bei uns das JA! zum Glauben an Gott wortwörtlich in der Mitte.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Mitarbeiterin-malt.png',
      description: 'Um die Kinderkirche schön zu gestalten helfen alle mit.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/kinderkirche-kirche-mit-kindern.png',
      description: 'Kinderkirche – Kirche MIT Kindern.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/s-1024x682.jpg',
      description: 'Unsere Adventgottesdienste haben eine besondere Stimmung.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/f.jpg',
      description: 'Auch im Inneren heißen wir Sie nochmal willkommen!',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/m.jpg',
      description: 'Die Bibel – das Wort Gottes im Zentrum des Gottesdienst.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/h.jpg',
      description: 'Gemeinsam Gottesdienste feiern.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/n-1024x682.jpg',
      description: 'Musikalische Untermalung mit Gitarre, Schlagzeug, Klavier, Geige, …',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/u-1024x682.jpg',
      description: 'Ein Mitarbeiter_innen-Gottesdienst',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/l-1024x682.jpg',
      description: 'Nach dem Gottesdienst gibt es Kaffee und Kuchen.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/91-1024x615.jpg',
      description: 'Unsere Konfirmand_innen werden bei der Arbeit nicht gestört.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/e-1024x682.jpg',
      description: 'Hier feiern unsere Kleinen ihren Gottesdienst.',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Weihnachtskarte_20182.jpg',
      description: 'Weihnachtskarte 2018',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Weihnachtskarte_2017_druck-1024x724.jpg',
      description: 'Weihnachtskarte 2017',
    },
    {
      image: 'https://www.evang9.wien/root/wp-content/uploads/2019/04/Weihnachtskarte_2016_versch2-1024x725.jpg',
      description: 'Weihnachtskarte 2016',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Gallery>
