---
import Gallery from '~/components/widgets/Gallery.astro';
---

<Gallery
  title="Bilder aus der Messiaskapelle"
  tagline="Impressionen"
  columns={4}
  items={[
    {
      image:
        'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381308/Homepage/Bilder%20Meka/Kircheneingang_ve2ol7.png',
      description: 'Herzlich willkommen!',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381306/Homepage/Bilder%20Meka/Ja-Altar_oghsnx.png',
      description: 'Manchmal steht bei uns das JA! zum Glauben an Gott wortwörtlich in der Mitte.',
    },
    {
      image:
        'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381307/Homepage/Bilder%20Meka/Mitarbeiterin-malt_medx92.png',
      description: 'Um die Kinderkirche schön zu gestalten helfen alle mit.',
    },
    {
      image:
        'https://res.cloudinary.com/dqjdjviob/image/upload/v1714828525/Homepage/Bilder%20Meka/kinderkirche-kirche-mit-kindern_fheuq1.png',
      description: 'Kinderkirche – Kirche MIT Kindern.',
    },
    {
      image:
        'https://res.cloudinary.com/dqjdjviob/image/upload/v1714828531/Homepage/Bilder%20Meka/s-1024x682_crxtqs.jpg',
      description: 'Unsere Adventgottesdienste haben eine besondere Stimmung.',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1714828560/Homepage/Bilder%20Meka/f_ws9j5b_tmqlcz.jpg',
      description: 'Auch im Inneren heißen wir Sie nochmal willkommen!',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1714828567/Homepage/Bilder%20Meka/m_stlspn.jpg',
      description: 'Die Bibel – das Wort Gottes im Zentrum des Gottesdienst.',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1714828580/Homepage/Bilder%20Meka/h_orarfo.jpg',
      description: 'Gemeinsam Gottesdienste feiern.',
    },
    {
      image:
        'https://res.cloudinary.com/dqjdjviob/image/upload/v1714828601/Homepage/Bilder%20Meka/n-1024x682_fabrp6.jpg',
      description: 'Musikalische Untermalung mit Gitarre, Schlagzeug, Klavier, Geige, …',
    },
    {
      image:
        'https://res.cloudinary.com/dqjdjviob/image/upload/v1714828615/Homepage/Bilder%20Meka/u-1024x682_hoxhg9.jpg',
      description: 'Ein Mitarbeiter_innen-Gottesdienst',
    },
    {
      image:
        'https://res.cloudinary.com/dqjdjviob/image/upload/v1714828625/Homepage/Bilder%20Meka/l-1024x682_cqkcdz.jpg',
      description: 'Nach dem Gottesdienst gibt es Kaffee und Kuchen.',
    },
    {
      image:
        'https://res.cloudinary.com/dqjdjviob/image/upload/v1714828632/Homepage/Bilder%20Meka/91-1024x615_mxeypb.jpg',
      description: 'Unsere Konfirmand_innen werden bei der Arbeit nicht gestört.',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Gallery>
