---
import Content from '~/components/widgets/Content.astro';
---

<!-- Pfarrer -->
<Content
  id="pfarrer"
  tagline="Leitung"
  actions={[]}
  classes={{ subtitleClass: 'text-left', container: 'max-w-4xl' }}
  image={{
    src: 'https://www.evang9.wien/root/wp-content/uploads/2021/11/IMG_8487-2-1365x2048.jpg',
    alt: 'Unser Pfarrer',
  }}
>
  <Fragment slot="title">Unser Pfarrer</Fragment>
  <Fragment slot="subtitle">
    Stefan Fleischner-Janits ist seit 1. September 2021 Pfarrer der Messiaskapelle. Seine Aufgaben in unserer Gemeinde
    sind vielfältig.
  </Fragment>
  <Fragment slot="content">
    Er feiert mit uns Gottesdienste, tauft und beerdigt, hält Kontakt zu den Mitgliedern und Mitarbeiter:innen, steht
    für seelsorgerliche Gespräche zur Verfügung, bringt den Konfirmand:innen unseren Glauben näher und denkt mit Kindern
    über Gott und die Welt nach. Darüber hinaus unterrichtet er Evangelische Religion am BG9 in der Wasagasse.<br />

     Pfarrer Stefan Fleischner-Janits steht gerne für persönliche und vertrauliche Gespräche zur Verfügung.
    <br />
    <span class="font-semibold">
      Vereinbaren Sie gerne einen Gesprächstermin per Mail: stefan.fleischner-janits@evang.at oder per Telefon: 0699/
      188 77 791.
    </span>
  </Fragment>
</Content>
