---
import Gallery from '~/components/widgets/Gallery.astro';
---

<!-- Presbyterium ******************* -->
<Gallery
  id="presbyterium"
  title="Das Presbyterium"
  tagline="Leitungsgremium"
  subtitle="Das Presbyterium besteht aus dem Pfarrer der Gemeinde und den von der Gemeindevertretung gewählten Vertreter*innen. Als Leitungsteam der Pfarrgemeinde treffen wir nicht nur wichtige Entscheidungen in Bezug auf das Leben der Messiaskapelle, als Gremium arbeiten wir vor allem zum Wohl der Gemeinde zusammen. Und dabei Vertrauen wir auf Gottes Segen und seine treue Begleitung. <br\><br\>Unsere Presbyter*innen besuchen regelmäßig den Gottesdienst und freuen sich, direkt angesprochen zu werden."
  columns={3}
  classes={{ subtitleClass: 'text-left', container: 'max-w-3xl' }}
  items={[
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381953/Homepage/Adele_rkiuph.jpg',
      description: 'Adele De La Puente',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381960/Homepage/Presbies-Vorlage-Web_yfdkzx.png',
      description: '',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381967/Homepage/Presbies-Vorlage-Web2_gyoqq3.png',
      description: '',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381984/Homepage/Presbies-Vorlage-Web4_pwckok.png',
      description: '',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381944/Homepage/PB_Hermann_jmxbri.png',
      description: '',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713381994/Homepage/Presbies-Vorlage-Web5_qdqb8j.png',
      description: 'Josef Schwarz - Schatzmeister',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713382003/Homepage/maria_vazhxr.jpg',
      description: 'Maria Paul - Schriftführerin',
    },
    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1756047036/Homepage/Regina6_m6ggjq.jpg',
      description: 'Regina Schmid - Kuratorin',
    },

    {
      image: 'https://res.cloudinary.com/dqjdjviob/image/upload/v1713382029/Homepage/IMG_8481-2-1365x2048_mhxqxw.jpg',
      description: 'Stefan Fleischner-Janits – Pfarrer',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Gallery>
