---
import Content from '~/components/widgets/Content.astro';
import Layout from '~/layouts/PageLayout.astro';
import Taufe from './taufe.astro';
import Konfirmation from './konfirmation.astro';
import Hochzeit from './hochzeit.astro';
import Eintritt from './eintritt.astro';
import Gemeindewechsel from './gemeindewechsel.astro';
import Todesfall from './todesfall.astro';

const metadata = {
  title: 'kasualien',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Content id="kasualien" tagline="Taufe, Konfirmation, Hochzeit, Todesfall" title="Kasualien">
    <Fragment slot="subtitle">
      Hier finden sie alle Informationen zu einer Taufe, Konfirmation, Hochzeit oder Todesfall.
    </Fragment>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  <Taufe />
  <Konfirmation />
  <Hochzeit />
  <Eintritt />
  <Gemeindewechsel />
  <Todesfall />
</Layout>
